#central-goverment-register {
    display: none;
}
#central-goverment-login {
    display: none;
}
#unapproved-list-customer {
    display: none;
}
#approved-list-customer {
    display: none;
}
#unapproved-list-fps {
    display: none;
}
#approved-list-fps {
    display: none;
}
#fixed-ration-card-div {
    display: none;
}
#flexi-ration-card-div {
    display: none;
}
#fixed-card-give-points-div {
    display: none;
}
#flexi-card-give-points-div {
    display: none;
}
#create-food-item-div {
    display: none;
}
#add-food-item-div {
    display: none;
}
#supply-to-state-div {
    display: none;
}
#user-added-events-div {
    display: none;
}
#approval-events-div {
    display: none;
}
#ration-card-events-div {
    display: none;
}
#food-transfer-events-div {
    display: none;
}
#rupee-transfer-events-div {
    display: none;
}
#add-budget-to-state-div {
    display: none;
}
#add-money-to-customer-div {
    display: none;
}
#food-stock-balance-btn {
    top: 10%;
    right: 2%;
    position: fixed;
}
#food-stock-balance-div {
    display: none;
    top: 17%;
    right: 1%;
    position: fixed;
}
#rupee-balance-btn {
    top: 10%;
    right: 13%;
    position: fixed;
}
#rupee-balance-div {
    display: none;
    top: 17%;
    right: 1%;
    position: fixed;
}
