#central-goverment-register {
    display: none;
}
#central-goverment-login {
    display: none;
}
#unapproved-list-customer {
    display: none;
}
#approved-list-customer {
    display: none;
}
#unapproved-list-fps {
    display: none;
}
#approved-list-fps {
    display: none;
}
#ration-home-div {
    /*display: none;*/
}
#fixed-ration-card-div {
    display: none;
}
#flexi-ration-card-div {
    display: none;
}
#fixed-card-give-points-div {
    display: none;
}
#flexi-card-give-points-div {
    display: none;
}
