#customer-register {
    display: none;
}
#customer-login {
    display: none;
}
#ration-div {
    display: none;
}
#ration-message {
    display: none;
}
#must-login-customer {
    display: none;
}
#ration-main-div {
    display: none;
}
#create-ration-card-div {
    display: none;
}
#create-ration-card-div-flexi {
    display: none;
}
#fixed-ration-card-div {
    display: none;
}
#flexi-ration-card-div {
    display: none;
}
#view-card-details-div {
    display: none;
}
#cover {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 50%;
    overflow: visible;
    /*background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;*/
}
