#customer-register {
    display: none;
}
#customer-login {
    display: none;
}
#ration-message {
    display: none;
}
#ration-main-div {
    display: none;
}
#fixed-ration-card-div {
    display: none;
}
#flexi-ration-card-div {
    display: none;
}
#create-ration-card-div {
    display: none;
}
#create-ration-card-div-flexi {
    display: none;
}
