#fps-register {
    display: none;
}
#fps-login {
    display: none;
}
#supply-to-customer-div {
    display: none;
}
#not-approved-div-card {
    display: none;
}
#not-logged-div-card {
    display: none;
}
#food-supplied-to-fps-events-div {
    display: none;
}
#food-stock-balance-btn {
    top: 10%;
    right: 2%;
    position: fixed;
}
#food-stock-balance-div {
    display: none;
    top: 15%;
    right: 1%;
    position: fixed;
}
#user-address-div {
    position: fixed;;
    right: 1%;
    bottom: 5%;
}
#food-supplied-to-customer-events-div {
    display: none;
}
