#fps-register {
    display: none;
}
#fps-login {
    display: none;
}
#supply-to-customer-div {
    display: none;
}
#not-approved-div-card {
    display: none;
}
#not-logged-div-card {
    display: none;
}
